<h1>{{ "Homepage" }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
 <!--   <li><a href="/harddrives/addfile/">Add a file</a></li> -->
    <li><a href="/harddrives/checkout/">Check out a harddrive</a></li>
    <li><a href="/harddrives/findfile/">Find a file</a></li>
    <li><a href="/harddrives/allfiles/">Look at files</a></li>
    <li><a href="/harddrives/allharddrives/">Look at harddrives</a></li>
    <li><a href="/harddrives/allboxes/">Look at boxes</a></li>
    <li><a href="/harddrives/allemployees/">Look at employees</a></li>
</ul>

